@charset "UTF-8";
@media {
  @font-face {
    font-family: PT Sans;
    src: url(/public/fonts/ptsans-regular.woff2) format("woff2"),
      url(/public/fonts/ptsans-sub/ptsans-regular.woff) format("woff");
  }
}
body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
  font: 1em PT Sans, Arial, Helvetica Neue, Helvetica, sans-serif;
}
h1,
h2,
h3 {
  line-height: 1.2;
}
